.my-orders {
    margin: 50px auto;
}

.my-orders-order {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid var(--primary);
    margin-bottom: 15px;
    border-radius: 5px;
}

.my-orders-order p span {
    color: var(--primary);
}

.my-orders-order button {
    padding: 12px 0;
    border-radius: 4px;
    background: var(--secondary);
    color: var(--text-dark);
}

@media (max-width: 900px) {
    .my-orders-order {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
    }
}